<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<title>社員情報一覧</title>

</head>

<body>
	<div class="container">
		<h1 class="mt-2">社員情報一覧</h1>

		<form id="filterForm" th:action="@{/departmentUser/1}" method="get">
			<div class="form-inline mt-2">
				<input class="mr-1" type="radio" name="active" id="allUsersRadio" value="2" th:checked="${active == 2}">
				<label class="mr-2">全社員一覧</label>
				<input class="mr-1" type="radio" name="active" id="activeUsersRadio" value="0"
					th:checked="${active == 0}">
				<label class="mr-2">現職者一覧</label>
				<input class="mr-1" type="radio" name="active" id="retiredUsersRadio" value="1"
					th:checked="${active == 1}">
				<label class="mr-2">退職者一覧</label>


				<!-- ページサイズの選択用のセレクトボックス -->
				<label for="pageSize">ページサイズ:</label>
				<select id="pageSize" name="size">
					<option value="10" th:selected="${size == 10}">10</option>
					<option value="20" th:selected="${size == 20}">20</option>
					<option value="30" th:selected="${size == 30}">30</option>
				</select>

			</div>
		</form>

		<div class="row mt-3">
			<div class="col-md-12">
				<table aria-labelledby class="table table-bordered mt-3 pager-table" id="userTable">
					<thead>
						<tr>
							<th class="text-nowrap"></th>
							<th class="text-nowrap">社員番号</th>
							<th class="text-nowrap fixed-column1">氏名</th>
							<th class="text-nowrap">Eメール</th>
							<th class="text-nowrap">電話番号</th>
							<th class="buttons text-nowrap" colspan="4"></th>
						</tr>
					</thead>
					<tbody>
						<tr class="userList" th:each="user, loop : ${userFormList}"
							th:attr="data-status=${user.activeFlg}">
							<input class="enabled" th:value="${user.activeFlg}" type="hidden">
							<td class="align-middle text-nowrap number" th:text="${loop.index} + 1"></td>
							<td class="align-middle text-nowrap" th:text="${user.userId}"></td>
							<td class="align-middle text-nowrap fixed-column2" th:text="${user.userName}"></td>
							<td class="align-middle" th:text="${user.mailAddress}"></td>
							<td class="align-middle" th:text="${user.phoneNumber}"></td>
							<td class="align-middle">
								<form method="post" th:action="@{/userEdit}">
									<input name="userId" th:value="${user.userId}" type="hidden">
									<button name="editing" class="buttons btn btn-success btn-sm text-nowrap"
										type="submit">編集</button>
								</form>
							</td>
							<td class="align-middle">
								<form method="post" th:action=" @{/userDeleteLogic}" th:object="${userForm}">
									<input name="userId" th:value="${user.userId}" type="hidden">
									<input name="department" th:value="${user.department.depId}" type="hidden">
									<button name="deletion" class="buttons btn btn-danger btn-sm text-nowrap delete"
										type="submit">削除
									</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="pagination">
					<span>Page <span th:text="${users.number}"></span> of <span
							th:text="${users.totalPages}"></span></span>
					<ul>
						<li th:each="page : ${#numbers.sequence(0, users.totalPages - 1)}">
							<a th:href="@{${'users'}(active=${active}, size=${size}, page=${page})}"
								th:text="${page + 1}" th:class="${page == users.number ? 'active' : ''}"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/js/departmentUsers.js}" type="text/javascript" th:inline="javascript"></script>


</html>